

header img {
    width: 8.39vw;
    height: 2.92vw;
    display: block;
    margin: 2.17vw auto;    
}

.form-infos {
    width: 62.08vw;
    height: auto;
    margin: 3.39vw auto;
    border: 0.052vw solid #234B68;
    border-radius: 0.52vw;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
}
    

.form-infos h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.08vw;
    color: #234B68;
    text-align: center;
    margin-top: 2.25vw;    
}

.form-infos form {
    width: 37.24vw;
    height: auto;
    border: 0.052vw solid transparent;
    margin-top: 2.27vw;
    margin-left: auto;
    margin-right: auto;
}

.form-infos label {
    font-size: 1.4vw;
    font-family: sans-serif;
    color: #234B68;
    font-weight: 700;
    white-space: nowrap;
    padding: 0.52vw;
}

.form-infos input {
    width: auto;
    outline: none;
    border: #234B68 0.15vw solid;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
    font-size: 0.83vw;
    margin-left: auto;
}

.inputs {
    display: flex;
    padding: 1vw;
}

.input-custom {
    width: 100%;
    display: flex;
    justify-content: center;

}

.input-icon {
    background-color: #1E3A5F;
    width: 5%;
    height: auto;
    color: white;
    padding: 0.73vw;
    font-size: 0.83vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
    border-radius: 0 0.52vw 0.52vw 0;
    margin-left: -0.052vw;
    font-family: sans-serif;
}

#calculate {
    width: 14.42vw;
    height: 3.3vw;
    border-radius: 0.52vw;
    color: white;
    background-color: #1E3A5F;
    font-family: sans-serif;
    font-size: 1.1vw;    
    margin: 3.39vw auto;
    display: block;
    cursor: pointer;
    border: none;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
    transition: all 0.3s ease;
}

#calculate:hover {
    background-color: #254570;
}

.tab {
    width: 62.08vw;
    height: auto;
    margin: auto;
    border: 0.052vw solid #234B68;
    border-radius: 0.52vw;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
    display: none;
}

.tab h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.6vw;
    color: #234B68;
    text-align: center;
    padding: 3vw;
}

.tab table {
    width: 100%;
}

.tab table thead {
    font-family: sans-serif;
    font-size: 1vw;        
    color: #234B68;
    text-align: center;
}

.tab table thead th {
    padding: 1.5vw;    
    font-weight: 700;
}

.tab table tbody th {
    padding: 0.2vw;
}

.tab table tbody th {
    font-family: sans-serif;
    font-size: 1vw;        
    color: #234B68;
    font-weight: lighter;

}

#download {
    width: 14.42vw;
    height: 3.3vw;
    border-radius: 0.52vw;
    color: white;
    background-color: #1E3A5F;
    font-family: sans-serif;
    font-size: 1.1vw;    
    margin: 3.39vw auto 2vw;
    display: block;
    cursor: pointer;
    border: none;
    box-shadow: 0vw 0.21vw 0.21vw 0vw #4B5563;
    transition: all 0.3s ease;
}

#download:hover {
    background-color: #254570;
}

#fields-error {
    color: #FF822E;
    font-family: sans-serif;
    font-size: 1.3vw;
    text-align: center;
    visibility: hidden;
}

.error {
    border: #FF822E 0.15vw solid !important;
}